.CreateTodoButton {
    background-color: #F44336; /* Color primario */
    border: none;
    font-size: 24px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
