@import '@fortawesome/fontawesome-svg-core/styles.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran';
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;

}
/* Definiciones de fonts */

.catamaran-00 {
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.athiti-regular {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro */
  flex-direction: column; /* Cambia la dirección a una columna */
  height: 100vh; /* Opcional: ajusta la altura al 100% del viewport */
}
