@import '@fortawesome/fontawesome-svg-core/styles.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran';
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

/* Definiciones de fonts */

.catamaran-00 {
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.athiti-regular {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor con el espacio entre ellos */
  align-items: center; /* Alinea verticalmente al centro */
}

.left-column{
  flex: 0 0 auto; /* La columna izquierda no crece ni se encoge, se mantiene a su ancho original */
}

.right-column{
  flex: 1; /* La columna derecha ocupa todo el espacio disponible */
}


.todo-list-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}